.firstRow{



}

.button{
    font-size: 18px;
    margin-top: 10px;
}

.mainSelect{
    margin-top: 5px;
}

.rowItem{
    margin-top: 2px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
}

.mainText{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.secondaryText{
    font-size: 18px;
    margin-right: 5px;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.rounded-select {
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 5px;
    /* Другие стили по вашему выбору */
}

.rounded-datePeeker {
    border-radius: 10px;
    border: 1px solid #aaa;
    padding: 5px;
    width: 70px;
}

.rounded-datePeeker-red {
    border-radius: 10px;
    border: 1px solid red;
    padding: 5px;
    width: 70px;
}