.block{
    white-space: nowrap;
    align-items: center;
    margin-top: 10px;
    margin-right: 5vw;
}

.input{
    font-size: 18px;
    display: inline-block;
    margin-right: 5px;
    width: 100%;
    border-radius: 10px; /* настраиваете значение, чтобы сделать рамку круглой */
    border: 1px solid #ccc; /* добавляем стандартную рамку */
    padding: 5px;
}

.checkbox{
    vertical-align: middle;
    display: inline-block;
    width: 25px;
    height: 25.800px;
    margin-right: 5px;
}

.hidden {
    height: 0;
    font-size: 18px;
    visibility: hidden;
}
